<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <h1 class="navbar-brand">Task Management</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <form class="d-flex">
      <button class="btn btn-danger" type="submit" style="margin-left: 40px;" (click)="show()">
        <a routerLink="/" style="text-decoration: none; color: white;" (click)="show()">Click here to exit</a></button>
    </form>
  </div>
</nav>